body{font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size:14px;line-height:1.4;}

h1{font-size:2.5em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.4em;}
h5{font-size:1.2em;}
h6{font-size:1em;}

a{text-decoration:underline;color:#0088CC;}
a:hover, a:focus{color:#005580;}
a:focus{outline:none;}
.clear{clear:both;height:1px;line-height:1px;font-size:1px;}
.img-rounded{border-radius:4px 4px 4px 4px;}

/* MAIN RULE */
.container{width:980px;}

/* HEADER */
header{height:90px;}
header .logo{margin:0;padding-top:15px;font-size:2.5em;line-height:1;font-weight:bold;}
header .logo a{color:#333333;text-decoration:none;}
header .logo a:hover{color:#000;text-decoration:none;}

header .form-search{float:right;padding-top:25px;}
header input.search-query{width:250px;border-radius:4px;padding-left:6px;padding-right:6px;}

/* NAVIGATION BAR */
.nav-style{background-color:#FFFFFF;border-radius:4px;box-shadow:0px 1px 4px rgba(0, 0, 0, 0.063);margin:0;padding:0;}
.nav-style li a, .dropdown-submenu a{line-height:1.2;}
.nav-style li a{padding:8px 14px;text-decoration:none;text-shadow:none;}
.nav-style > li > a{border:1px solid #E5E5E5;display:block;margin:0px 0px -1px;}
.nav-style > li:first-child > a{border-radius:4px 4px 0px 0px;}
.nav-style > li:last-child > a{border-radius:0px 0px 4px 4px;}
.nav-style > .active > a{border:none;box-shadow:inset 1px 0px 0px rgba(0, 0, 0, 0.102), inset -1px 0px 0px rgba(0, 0, 0, 0.102);padding:9px 15px;position:relative;z-index:2;text-shadow:none;background:#0088CC;}
.dropdown-submenu a:hover, .dropdown-submenu:hover a{font-weight:normal;}
.dropdown-submenu > a:after{margin-right:-5px;margin-top:3px;}
.nav-style > li:hover > a:after{border-left:5px solid #0088CC;}
.nav-style > li.active > a:after{border-left:5px solid #ffffff;}
.dropdown-submenu > .dropdown-menu{border-radius:0px 4px 4px;}
.dropdown-submenu > .dropdown-menu > li > a{padding:9px 15px;color:#0088CC;}
.dropdown-submenu > .dropdown-menu > li.active > a{color:#ffffff;background:#0088CC;filter:none;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{background:#EEEEEE;color:#005580;filter:none;}
.dropdown-submenu.active:hover > a{background:#0088CC;color:#ffffff;filter:none;}

.info{margin-top:30px;}

/* CONTENT */
.path ul{list-style:none;margin:0;padding:0;}
.path li{margin:0;padding:0;display:inline-block;font-size:12px;}
.path li:before{content:" → ";font-size:14px;font-family:Verdana,Tahoma;}
.path li:first-child:before{content:"";}

h1.page-title{margin:0 0 15px;line-height:1;}

/* FOOTER */
footer{height:75px;line-height:1.2;}
.stat{float:right;}

/* FORMS */
input, select, button, textarea{font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size:14px;vertical-align:baseline !important;}
textarea{vertical-align:top !important;}
legend{position:relative;padding:0 0 5px;margin:0 0 20px;font-size:1.6em;line-height:1.2;}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, .btn:focus{outline:none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {border:1px solid #A1A1A1;box-shadow:inset 0px 1px 4px rgba(0, 0, 0, 0.15);}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{border:1px solid #B94A48;box-shadow:none;}


/*
@media (min-width:768px) and (max-width:979px){
  
}

@media (max-width:767px){
  
}
*/